body h1 {
  margin: 0px;
  padding: 0px;
}

/*the header of the Key Stock Data*/
body h2 {
  grid-area: h2;
  margin-bottom: 0;
  padding-bottom: 10px;
  font-size: 1.8rem;
  font-weight: 700;
}

/*the Price in the header component*/
body h3 {
  margin-bottom: 0;
  font-size: 25px;
  font-weight: 600;
  color: #1a5ae2;
}

/*stokc symbol in the header component*/
.stocksymbol {
  margin: 0px;
  padding: 0px;
}

/*the headertext of the detailed stock page*/
.HeaderText {
  height: 100px;
  margin: 0px;
  padding: 0px;
}

/*wraps all Components*/
body main.mainSP {
  
  padding: 0px;
  width: auto;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 66fr 33fr;
  grid-template-areas: "StockWrapper NewsComponent";

  /*left Component is there for the header and the Stockdetails*/
  .StockWrapper {
    grid-area: StockWrapper;

    padding-right: 1.5rem;
    height: 100vh; 
    border-right: 3px solid var(--row-border-color);
    box-sizing: border-box;

    display: grid;
    grid-template-rows: 120px calc(100vh - 120px);
    grid-template-columns: 1fr;
    grid-template-areas:
      "HeaderWrapper"
      "StockDataWrapper";

    
  }

  /*wraps the header of the detailed-stock page*/
  .HeaderWrapper {
    padding: 10px 20px;
    border-bottom: 1px solid var(--row-border-color);
    grid-area: HeaderWrapper;

    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 100; /*everything should be behind the title*/
    background-color: white;
  }

  /*wraps the stock details*/
  .StockDataWrapper {
    overflow: auto;
    width: 100%;
    box-sizing: border-box;
    grid-area: StockDataWrapper;
    padding-right: 2rem;
    padding-top: 20px;
    padding-left: 2rem;
    height: calc(100vh-120px);

    .candleStick {
      padding: 10px;
      border: 1px solid var(--row-border-color);
      border-radius: 15px;
    }
  }

  /*NewsComponent-start*/
  .NewsComponent {
    overflow-y: auto;
    grid-area: NewsComponent;
    padding-bottom: 10px;
    padding-right: 10px;
    
    position: static;
    height: 100vh;

    .NewsHeader {
      margin-left: 1.5rem;
      border-bottom: 1px solid var(--row-border-color);
      width: auto;
      position: sticky;
      padding-left: 10px;
      margin-top: 20px;
      z-index: 10;
      top: 0px;
      background-color: white;
    }

    .newsArticle {
      /*indent them a bit so it does not go aroudn the title when hovering on them*/
      margin-left: 2rem;
      margin-right: 0.5rem;

      box-shadow: none;
      border: 1px solid var(--row-border-color);
      border-radius: 20px;
      padding: 15px;

      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
        "a "
        "b "
        "e ";

      /*hovereffect*/
      transition: transform 0.15s ease-in-out;
      /*style the indivual news articles*/
        .ArticleHeader {
          margin-bottom: 15px;
          grid-area: a;
          border-bottom: 2px solid var(--row-border-color);
          padding-bottom: 5px;
        }
        .ArticleImage {
          margin-right: 10px;
          width: 30%;
          float: left;
        }
        .summary {
          grid-area: b;
          margin-bottom: 0px;
          padding-bottom: 15px;
        }
        .referals {
          grid-area: e;
          display: flex;
          justify-content: space-around;
          border-top: 2px solid var(--row-border-color);
        }
        .source {
          flex-grow: 1;
          margin-bottom: 0;
        }
    }
  }
}
.newsArticle:hover {
  transform: scale(1.02) translateY(-10px);
  cursor: pointer;
}
/*NewsComponent-end*/

/*wrapper for all data below the candlestick*/
body main .databox {
 
  display: grid;
  column-gap: 30px;
  grid-template-columns: 2fr auto;
  grid-template-rows: auto auto;
  grid-template-areas:
  "h2 null"
  "gridWrapper trendPlot";
  margin-bottom: 1rem;

  /*expert trendplot*/
  .trendPlot {
    grid-area: trendPlot;
    padding: 10px;
    width: 100%;
    min-width: 300px;
    height: max-content;
    border: 1px solid var(--row-border-color);
    border-radius: 1rem;
  }
}

/*wraps the component with the key data*/
.gridWrapper {
  grid-area: gridWrapper;
  
}

/* the grid where all stock details are in*/
.data-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

/*selects the components with data tooltips, trendplot in not list since it has a bottom border already set and needs one*/
[data-tooltip]:not(a,.trendPlot,Button,input) {  
  border-bottom: none !important;
  text-decoration: none !important;	
}

[data-tooltip].trendPlot {
  border-bottom: 1px solid var(--row-border-color);
  text-decoration: none !important;	
  :hover{
    cursor: default;
  }
}
[data-tooltip]::before {
  background-color: black;
  color: white;
}

/*single data-table entry*/
.data-item {
  border-radius: 0.5rem;
  padding: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
  text-decoration: none !important;
  min-width: min-content;
  height: max-content;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-overflow: ellipsis;

  white-space: nowrap;
  background-color: rgb(236, 234, 234);
  
  /*each cell the title should be grey and the data blue*/
  .firstChild{
    color: rgb(94, 94, 94);
  }
  .secondChild{
    color: #1a5ae2;
  }
}

.data-item p{
    margin: 0px;
    padding: 0px; 
}

/*add some minor scalability to the whole page so it is okay until ipad screen size*/
@media (max-width: 1200px) {
  /*first the news should now be below the stockdetailss*/
  body main.mainSP {
    overflow-y: auto;
    grid-template-rows: auto auto auto ;
    grid-template-columns: 1fr;
    grid-template-areas:
      "StockWrapper"
      "NewsComponent"
  }
  
  .StockWrapper{
    border-right: none !important;
    padding-left: 1.5rem !important;
  }


  .NewsComponent{
    height: auto !important;
   
  }
  .data-grid{
    grid-template-columns: 1fr;
  }
  
  /*hide some details that are not needed on smaller screens*/
  .hide{
    display: none !important;
  }
  .gridWrapper{
    align-self: center;
  }
}
